<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Lista de usuarios</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"><!--  -->
        <!--     <link th:href="@{/styles.css}" rel="stylesheet" />-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    </head>
    <body>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <div class="container mt-4" layout:fragment="body" style="min-height: 500px">
            <div class="row jutify-content-center mb-4">

                <div class="text-center">

                    <a th:href="@{/ciclistas}" class="btn btn-info">Ver todos</a>
                </div>

            
                <div class="row col-12 mt-5">
                    <table  class="table table-striped mr-8">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Horario</th>
                                <th>Nivel</th>
                                <th>Aula</th>
                                <th>Editar</th>
                                <th>Eliminar</th>


                            </tr>
                        </thead>
                        <tbody id="contenido">

                        </tbody>
                    </table>

                </div>


            </div>

        </div>
    </div>

</body>
<div id="modalAdd" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tituloModal"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="offset-3 col-6" id="containerNomina">
                    <label class="mb-2">Nombre</label>
                    <label  id="lblNombre"></label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="bi bi-person-circle"></i></div>
                        </div>
                        <input type="text" placeholder="Nombre"   
                               id="txtNombre"
                               class="form-control mb-4 col-4">                       
                    </div>

                </div>

                <div class="offset-3 col-6">
                    <label class="mb-2">Direccion</label>
                    <label  id="lblNombre"></label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="bi bi-person-circle"></i></div>
                        </div>
                        <input type="text" placeholder="Direccion"   
                               id="txtDireccion"
                               class="form-control mb-4 col-4">                       
                    </div>

                </div>
                <div class="offset-3 col-6">
                    <label class="mb-2">Edad</label>
                    <label id="lblApellidoPaterno"></label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="bi bi-person-circle"></i></div>
                        </div>
                        <input type="text"  placeholder="Apellido paterno" id="txtEdad"
                               class="form-control mb-4 col-4" > 
                    </div>
                </div>

                <div class="offset-3 col-6">
                    <label class="mb-2">Nivel</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="bi bi-building"></i></div>
                        </div>
                        <select id="ddlNivel" required  class="form-control mb-4">
                            <option value="0">Selleciona un nivel</option> 
                            <option value="1">Novato</option> 
                            <option value="2">Intermedio</option> 
                            <option value="3">Experto</option> 
                        </select>
                    </div>
                </div>

                <div class="offset-3 col-6">
                    <label class="mb-2">Membresia</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="bi bi-building"></i></div>
                        </div>
                        <select id="ddlMembresia" required  class="form-control mb-4">
                            <option value="#">Selleciona un nivel</option> 
                            <option value="0">Inactiva</option> 
                            <option value="1">Activa</option> 
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="botonModal" onclick="addUser()">Guardar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" tabindex="-1" id="modalDelete">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Seguro que quieres eliminar este ciclista?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" onclick="deleteUser()">delete</button>
            </div>
        </div>
    </div>
</div>


<script>

    var update = false;
    var idciclista = 0;
    $(document).ready(function () {
        getAll();

    });


    function getAll() {

        $.ajax({
            url: "http://localhost:8080/api/clases",
            dataType: "json",
            success: function (data) {

                var resultsContainer = $("#contenido");
                resultsContainer.empty();
                var clases = data;
                $.each(clases, function (index, clase) {
                    var card = `
                        <tr id="fila${index}"<>
                                
                                <td class="card-text">${clase.nombre}</td>
                                <td class="card-title">${clase.horario}</td>
                                
                                <td class="card-text">${clase.nivel.descripcion}</td>
                                 <td class="card-text">${clase.aula.nombre}</td>
                               <td>
                                <button onclick="showModalUpdate(${clase.id})" class="btn btn-warning btn-sm">
                                    <i class="bi bi-pencil-square"></i>
                                </button>
                            </td>
                            <td>

                              

                                    <button onclick="showDelete(${clase.id})" class="btn btn-danger btn-sm"> <i class="bi bi-trash3-fill"></i></button>
                                
                            </td>
                        </tr>
                    `;

                    resultsContainer.append(card);
                });
                $("#errorContainer").hide();

            }
        });
    }

    function showModal() {
        update = false
        $("#txtNomina").val('')
        $("#txtNombre").val('')
        $("#txtApellidoPaterno").val('')
        $("#txtApellidoMaterno").val('')
        $("#ddlestado").val('');
        $("#modalAdd").modal("show");
        $("#tituloModal").text("Registrar empleado")
        $("#botonModal").text("Guardar")
    }

    function showModalUpdate(id) {
        $("#tituloModal").text("Actualizar ciclista")
        $("#botonModal").text("Actualizar")
        idciclista = id;
        update = true;
        $.ajax({
            url: "http://localhost:8080/api/ciclistas/" + id,
            type: "get",
            accept: "application/json",
            dataType: "json",
            success: function (data) {
                $("#txtNombre").val(data.nombre)
                $("#txtDireccion").val(data.direccion)
                $("#txtEdad").val(data.edad)
                $("#ddlNivel").val(data.nivel.id);
                $("#ddlMembresia").val(((data.membresiaActiva) ? 1 : 0));
                console.log($("#ddlMembresia").val());
            },
            error: function () {
                alert("Error al obtener los datos.");
            }
        });

        $("#modalAdd").modal("show");
    }

    function addUser() {
        event.preventDefault();
        var ciclista = {
            "nombre": $("#txtNombre").val(),
            "direccion": $("#txtDireccion").val(),
            "edad": $("#txtEdad").val(),
            membresiaActiva: parseInt($("#ddlMembresia").val()),
            "nivel": {
                "id": parseInt($("#ddlNivel").val())
            }
        }
        $.ajax({
            url: "http://localhost:8080/api/ciclistas/" + idciclista,
            type: 'put',
            data: JSON.stringify(ciclista),
            Accept: "application/json",
            contentType: "application/json",
            dataType: "json",
            success: function (data) {
                alert("Empleado actualizado");
                $("#modalAdd").modal("hide");
                getAll();
            },
            error: function () {
                // Muestra el mensaje de error en caso de error en la petición
                alert("Error al actualizar");
                $("#modalAdd").modal("hide");
            }
        });


    }

    function showDelete(id) {
        idciclista = id;
        $("#modalDelete").modal("show");
    }

    function deleteUser() {

        $.ajax({
            url: "http://localhost:8080/api/ciclistas/" + idciclista,
            type: 'delete',
            success: function (data) {
                alert("Usuario Eliminado");
                $("#modalAdd").modal("hide");
                getAll();
            },
            error: function () {
                // Muestra el mensaje de error en caso de error en la petición
                alert("Error al Eliminar");
                $("#modalAdd").modal("hide");
            }
        })
        $("#modalDelete").modal("hide");
    }

    function buscarCiclista() {
        var ciclista = {
            nombre: $("#txtNombreBuscar").val()
        }

        $.ajax({
            url: "http://localhost:8080/api/ciclistas/nombre",
            type: 'post',
            data: JSON.stringify(ciclista),
            Accept: "application/json",
            contentType: "application/json",
            dataType: "json",
            success: function (data) {
                var resultsContainer = $("#contenido");
                resultsContainer.empty();
                var ciclistas = data;
                $.each(ciclistas, function (index, ciclista) {
                    var card = `
                        <tr id="fila${index}"<>
                                
                                <td class="card-text">${ciclista.nombre}</td>
                                <td class="card-title">${ciclista.direccion}</td>
                                
                                <td class="card-text">${ciclista.edad}</td>
                                <td class="card-text">${ciclista.nivel.descripcion}</td>
                                 <td class="card-text">${ciclista.membresiaActiva}</td>
                               <td>
                                <button onclick="showModalUpdate(${ciclista.id})" class="btn btn-warning btn-sm">
                                    <i class="bi bi-pencil-square"></i>
                                </button>
                            </td>
                            <td>

                              

                                    <button onclick="showDelete(${ciclista.id})" class="btn btn-danger btn-sm"> <i class="bi bi-trash3-fill"></i></button>
                                
                            </td>
                        </tr>
                    `;

                    resultsContainer.append(card);
                });
            },
            error: function () {
                // Muestra el mensaje de error en caso de error en la petición
                alert("Error al buscar");
                $("#modalAdd").modal("hide");
            }
        });



    }




</script>
</html>
